<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite thread-count="1" verbose="1" name="Audibene" annotations="JDK" parallel="tests">

    <test name="Jokes Api Tests">
        <classes>
            <class name="org.audibene.apitests.GetCategoriesTests"/>
        </classes>
    </test>

    <test name="Login UI Tests">
        <classes>
            <class name="org.audibene.uitests.LoginUITests"/>
        </classes>
    </test>

    <test name="Sorting UI Tests">
        <classes>
            <class name="org.audibene.uitests.SortingUITests"/>
        </classes>
    </test>

    <test name="Exit Intent UI Tests">
        <classes>
            <class name="org.audibene.uitests.ExitIntentUITests"/>
        </classes>
    </test>

    <test name="Open New Window UI Tests">
        <classes>
            <class name="org.audibene.uitests.OpenNewWindowTests"/>
        </classes>
    </test>

    <test name="Dynamic Controls UI Tests">
        <classes>
            <class name="org.audibene.uitests.DynamicControlsAsyncUITests"/>
        </classes>
    </test>
</suite>
