<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite thread-count="1" verbose="1" name="Audibene" annotations="JDK" parallel="tests">

    <test name="Login UI Tests">
        <classes>
            <class name="org.audibene.uitests.LoginUITests"/>
        </classes>
    </test>

    <test name="Exit Intent UI Tests">
        <classes>
            <class name="org.audibene.uitests.ExitIntentUITests"/>
        </classes>
    </test>
</suite>